<!-- LOGO -->



<!-- CONTENTS -->
<div data-role="content">
  <div class="ui-grid-a" align="center">
    <div class="ui-block-a" align="center">
      <%=link_to (image_tag "icon_profile_profile.png"), user_path(current_user)%>
    </div>
    <div class="ui-block-b" align="center">
      <%=link_to (image_tag "icon_users.png"), users_path%>
    </div>
    <div class="ui-block-a" align="center">
      <%=link_to (image_tag "cam-icon.png"), albums_path%>
    </div>
    <div class="ui-block-b" align="center">
      <%=link_to (image_tag "logout-icon.png"), log_out_path%>
    </div>
  </div>
</div>
