<!DOCTYPE html>
<html>
<head>
  <title>Ubismob</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <script type="text/javascript" src="lib/klass.min.js"></script>
    <script type="text/javascript" src="code.photoswipe-3.0.4.min.js"></script>
    <script type="text/javascript">

      (function(window, PhotoSwipe){
       document.addEventListener('DOMContentLoaded', function(){
         var
         options = {},
         instance = PhotoSwipe.attach( window.document.querySelectorAll('#Gallery a'), options );
         }, false);
       }(window, window.Code.PhotoSwipe));
</script>
</head>
<body>
<%= yield %>
</body>
</html>
